<nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header" data-logobg="skin6">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <p style="color: rgb(70, 69, 69); height: 45px; text-align: center; width: 240px; font-size: 25px; font-weight: bold; font-family: cursive;">
           <u>Garage Mada</u>
        </p>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
            href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
       
        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav ms-auto d-flex align-items-center">

            
            <li>
                <a class=" nav-link dropdown-toggle profile-pic" href="#setting" id="userDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/plugins/images/users/varun.jpg" alt="user-img" width="36"
                        class="img-circle"><span class="text-white font-medium">Financier</span></a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown" id="setting">
                               
                               
                                <a (click)="OnLogOut()" style="margin-left: 15px; cursor: pointer;">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Se déconnecter
                                </a>
                                <!-- <a routerLinkActive="active" [routerLink]="'login'" style="margin-left: 15px; cursor: pointer;">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Se connecter
                                </a> -->
                        </div>
                        
            </li>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
        </ul>
    </div>
</nav>