<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="liste_paiement"
                aria-expanded="false">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="hide-menu">Accueil</span>
            </a>
        </li>
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="liste_termine"
                aria-expanded="false">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <span class="hide-menu">Réparation terminé</span>
            </a>
        </li>
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="chiffres_affaires"
                aria-expanded="false">
                <i class="fa fa-euro-sign" aria-hidden="true"></i>
                <span class="hide-menu">Chiffres d'affaires</span>
            </a>
        </li>
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="depenses"
                aria-expanded="false">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <span class="hide-menu">Dépenses</span>
            </a>
        </li>
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="benefice"
                aria-expanded="false">
                <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                <span class="hide-menu">Bénéfice</span>
            </a>
        </li>

        
    </ul>

</nav>