
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;" *ngFor="let vam of voiture">Facture du voiture: {{vam.matricule}}</h1>
              <div class="card card-plain mt-8">
                
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">Client</th>
                            <th scope="col">Marque</th>
                            <th scope="col">Type</th>
                            <th scope="col">Réparation</th>
                            <th scope="col">Date de réparation</th>
                            <th scope="col">Prix (Ariary)</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let list of detailsReparation">
                            
                                <td *ngFor="let user of detailsUser"><i class="fa fa-user"></i> {{user.nom}} {{user.prenom}}</td>
                                <td *ngFor="let vam of voiture">{{vam.marque}}</td>
                            
                            <td *ngFor="let vam of voiture">{{vam.type}}</td>
                            <td>{{list.intitule}}</td>
                            <td></td>
                            <td>{{list.prix}}</td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2" *ngFor="let montant of somme">Total: {{montant}}</div>
                      </div>
                      
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  