<main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                <div *ngIf="mess!=null;then message"></div>
                <ng-template #message>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{mess}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                </ng-template>
                <div class="card-header"  style="background-color: rgb(49, 48, 67);">
                    <h5 style="color: white;">Ajout des réparations à faire</h5>
                </div>
                  <div class="card card-plain mt-8">
                    
                    <div class="card-body">
                        <form (ngSubmit)="OnSubmit()">
                            <div class="row">
                              <div class="col">
                                <label>Intitule</label>
                                  <div class="mb-3">
                                      <input type="text" class="form-control"  placeholder="Exemple: Moteur, pneu, ..." aria-label="Intitule" [(ngModel)]="form.intitule" #intitule="ngModel" required>
                                  </div>
                              </div>
                              <div class="col">
                                <label>Description</label>
                                  <div class="mb-3">
                                      <input type="text" class="form-control"  placeholder="Description de la réparation" aria-label="Description" [(ngModel)]="form.description" #description="ngModel" required>
                                  </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <label>Prix de la réparation</label>
                                  <div class="mb-3">
                                      <input type="text" class="form-control"  placeholder="Exemple: 20000 (en Ariary)" aria-label="Prix" [(ngModel)]="form.prix" #prix="ngModel" required>
                                  </div>
                              </div>
                              <div class="col">
                                
                                  <!-- <div class="mb-3">
                                      <input type="hidden" [(ngModel)]="form.idfiche">
                                  </div> -->
                              </div>
                              
                            </div>
                            
                          <div style="margin-top: 20px;">
                                  
                            <button type="submit" class="btn btn-info w-100 text-gradient">Valider</button>
                          
                          </div>              
                            
                          </form>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-12 d-flex flex-column mx-auto">
                    
                <div class="card-header"  style="background-color: rgb(49, 48, 67);">
                    <h5 style="color: white;">Liste des réparations à faire</h5>
                </div>
                  <div class="card card-plain mt-8">
                    
                    <div class="card-body table-responsive text-nowrap " >
                      <table class="table" >
                        <thead>
                          <tr>
                        
                            <th scope="col">Numéro voiture</th>
                            <th scope="col">Réparation</th>
                            <th scope="col">Avancement de la réparation</th>
                            

                          </tr>
                        </thead>
                        <tbody class="example-list" cdkDropList (cdkDropListDropped)="drop($event)">
                          <tr *ngFor="let list of detailsFiche" cdkDrag class="example-box">
                           
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            
                            <td ><i class="fa fa-car" ></i> {{voiture}}</td>
                            <td>{{list.intitule}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [ngStyle]="{'width.%': list.avancement}"  aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">{{list.avancement}}%</div>
                                </div>
                            </td>
                            <div *ngIf="list.etatareparation==0;then daty"></div>
                              <ng-template #daty>
                                <td>
                                  <form  (ngSubmit)="OnDate(list._id)">
                                    <div class="row">
                                      <div class="col">
                                        <input type="hidden" class="form-control" [(ngModel)]="input.idreparation" #idreparation="ngModel">
                                        <input [attr.id]="'Location'+list._id" type="datetime-local" class="form-control" aria-label="daty" [(ngModel)]="input.date" #date="ngModel" required style="width: 200px;">
                                      </div>
                                      <div class="col">
                                        <button type="submit" class="btn btn-info w-100 text-gradient">Commencer</button>
                                      </div>
                                    </div>
                                    
                                  
                                  </form>
                                </td>
                              </ng-template>
                              <div *ngIf="list.etatareparation==1;then avancement"></div>
                              <ng-template #avancement>
                                <td>
                                  <form  (ngSubmit)="OnAvancement(list._id)">
                                    <div class="row">
                                      <div class="col">
                                        <input type="hidden" class="form-control" [(ngModel)]="entre.idreparation" #idreparation="ngModel"  >
                                        <input type="number" placeholder="Avancement en %" class="form-control" aria-label="avancement" [(ngModel)]="entre.avancement" #avacement="ngModel"  required min="0" max="100" style="width: 200px;">
                                      </div>
                                      <div class="col">
                                        <button type="submit" class="btn btn-info w-100 text-gradient">Valider avancement</button>
                                      </div>
                                    </div>
                                  </form>
                                </td>
                              </ng-template>
                              <div *ngIf="list.etatareparation==2;then datyfin"></div>
                              <ng-template #datyfin>
                                <td>
                                  <form  (ngSubmit)="OnDateFin(list._id)">
                                    <div class="row">
                                      <div class="col">
                                        <input type="hidden" class="form-control" [(ngModel)]="haha.idreparation" #idreparation="ngModel">
                                        <input type="datetime-local" class="form-control" aria-label="datyfin" [(ngModel)]="haha.date" #date="ngModel" required style="width: 180px;">
                                      </div>
                                      <div class="col">
                                        <button type="submit" class="btn btn-info w-100 text-gradient">Date fin</button>
                                      </div>
                                    </div>
                                   
                                  
                                  </form>
                                </td>
                              </ng-template>
                              <div *ngIf="list.etatareparation==3;then fini"></div>
                              <ng-template #fini><td>Réparation finie</td></ng-template>
                           
                            
                            
                          </tr>
                          
                        </tbody>
                      </table>

                     

                    </div>
                    
                  </div>
                </div>
                
              </div>
        </div>
      </div>
    </section>
  </main>
  
  