
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;">Liste des voitures à reparer</h1>
              <div class="card card-plain mt-8">
                
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">Nom client</th>
                            <th scope="col">Numéro voiture</th>
                            <th scope="col">Etat réparation</th>
                            <th scope="col">Date de dépôt</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td><i class="fa fa-user"></i> Mark</td>
                            <td><i class="fa fa-car" ></i> 1323 TBA</td>
                            <td class="text-success">En cours</td>
                            <td>12/05/2023</td>
                            <td><a href="details_reparation"><button class="btn btn-info" >Voir <i class="fa fa-arrow-right" style="width: 25px;"></i></button></a></td>

                          </tr>
                          <tr>
                            
                            <td><i class="fa fa-user"></i> Mark</td>
                            <td><i class="fa fa-car" ></i> 1257 TBD</td>
                            <td class="text-success">Non en cours</td>
                            <td>12/05/2023</td>
                            <td><button class="btn btn-info" >Voir <i class="fa fa-arrow-right" style="width: 25px;"></i></button></td>

                          </tr>
                          <tr>
                            
                            <td><i class="fa fa-user"></i> Mark</td>
                            <td><i class="fa fa-car" ></i> 1123 TAA</td>
                            <td class="text-success">En cours</td>
                            <td>12/05/2023</td>
                            <td><button class="btn btn-info" >Voir <i class="fa fa-arrow-right" style="width: 25px;"></i></button></td>

                          </tr>
                        </tbody>
                      </table>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  