
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;">Détails des réparations</h1>
                <div *ngIf="etatfiche==4;then message"></div>
                <ng-template #message>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  En attente de la validation de la demande de sortie de votre voiture
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                </ng-template>
              <div class="card card-plain mt-8">
                
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                        
                            <th scope="col">Numéro voiture</th>
                            <th scope="col">Réparation</th>
                            <th scope="col">Avancement de la réparation</th>
                            

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let list of detailsFiche">
                            
                         
                            <td *ngFor="let vam of voiture"><i class="fa fa-car" ></i> {{vam.matricule}}</td>
                            <td>{{list.intitule}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [ngStyle]="{'width.%': list.avancement}"  aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">{{list.avancement}}%</div>
                                </div></td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col">
                          
                            <a (click)="OnClick(idFiche)"><button class="btn btn-success">Voir facture <i class="fa fa-arrow-right" style="width: 30px;"></i></button></a>
                            <div *ngIf="etatfiche==3;then demande"></div>
                            <ng-template #demande><a (click)="OnDemande(idFiche)" style="margin-left: 10px;"><button class="btn btn-info">Demande de sortie</button></a></ng-template>
                            
                        </div>
                        
                        
                      </div>
                      
                     
                      
                </div>
                
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  