
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;">Bienvenue !</h1>
              <div class="card card-plain mt-8">
                <div class="card-header  text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Déposer votre voiture au garage.</h3>
                  
                </div>
                <div class="card-body">
                  <form role="form" (ngSubmit)="OnSubmit()">
                    <div class="row">
                      <div class="col">
                        <label>Matricule</label>
                          <div class="mb-3">
                              <input type="text" class="form-control" autocomplete="matricule" placeholder="Exemple: 1020 TAA" aria-label="Matricule" [(ngModel)]="form.matricule" #nom="ngModel" required>
                          </div>
                      </div>
                      <div class="col">
                        <label>Marque</label>
                          <div class="mb-3">
                              <input type="text" class="form-control" autocomplete="marque" placeholder="Exemple: Audi" aria-label="Marque" [(ngModel)]="form.marque" #nom="ngModel" required>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>Type</label>
                          <div class="mb-3">
                              <input type="text" class="form-control" autocomplete="type" placeholder="Exemple: Q7" aria-label="Type" [(ngModel)]="form.type" #nom="ngModel" required>
                          </div>
                      </div>
                      <div class="col">
                        <label>Date de dépôt</label>
                          <div class="mb-3">
                              <input type="datetime-local" class="form-control" autocomplete="date" aria-label="Type" [(ngModel)]="form.datefiche" #nom="ngModel" required>
                          </div>
                      </div>
                      
                    </div>
                    
                  <div style="margin-top: 20px;">
                          
                    <button type="submit" class="btn btn-info w-100 text-gradient">Valider</button>
                  
                  </div>              
                    
                  </form>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  