
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;">Historique des voitures</h1>
              <div class="card card-plain mt-8">
                
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">Nom client</th>
                            <th scope="col">Matricule voiture</th>
                            <th scope="col">Etat </th>
                            <th scope="col">Date de dépôt</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let liste of historiqueListe">
                            
                            <td><i class="fa fa-user"></i> {{liste.user.nom}} {{liste.user.prenom}}</td>
                            <td><i class="fa fa-car" ></i> {{liste.voiture.matricule}}</td>
                            <div  *ngIf="liste.etat==0;then pascours"></div>
                            <ng-template #pascours>
                              <td class="text-success">En attente</td>
                            </ng-template>
                            <div  *ngIf="liste.etat==1;then recep"></div>
                            <ng-template #recep>
                              <td class="text-success">Réceptionné</td>
                            </ng-template>
                            <div  *ngIf="liste.etat==2;then encours"></div>
                            <ng-template #encours>
                              <td class="text-success">En cours</td>
                            </ng-template>
                            <div  *ngIf="liste.etat==3;then terminer"></div>
                            <ng-template #terminer>
                              <td class="text-success">Réparation terminée</td>
                            </ng-template>
                            <div  *ngIf="liste.etat==4;then demande"></div>
                            <ng-template #demande>
                              <td class="text-danger" >Voiture récupérable</td>
                            </ng-template>
                            <div  *ngIf="liste.etat==5;then sortie"></div>
                            <ng-template #sortie>
                              <td class="text-danger">Sortie</td>
                            </ng-template>
                            <td>{{liste.datefiche | date: 'à HH:mm, le d MMMM yyyy'}} </td>
                            <td><a (click)="OnClick(liste._id)"><button class="btn btn-info" >Voir détails <i class="fa fa-arrow-right" style="width: 30px;"></i></button></a></td>

                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  