
  <main class="main-content  mt-0" >
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column mx-auto">
                <h1 style="padding-bottom: 20px;">Rechercher chiffre d'affaires</h1>
                <div *ngIf="loading==true;then spinner else liste"></div>
                <ng-template #spinner>
                <div class="text-center" style="margin-top: 150px;">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                </ng-template>
                <ng-template #liste>
              <div class="card card-plain mt-8">
                
                <div class="card-body table-responsive text-nowrap">
                    <form  (ngSubmit)="OnButton()">
                        <div class="row">
                          <div class="col">
                            <input type="datetime-local" class="form-control" aria-label="date" [(ngModel)]="form.datedebut" #datedebut="ngModel"  required >
                          </div>
                          <div class="col">
                          <input type="datetime-local" class="form-control" aria-label="date" [(ngModel)]="form.datefin" #datefin="ngModel"  required >
                        </div>
                          <div class="col">
                            <button type="submit" class="btn btn-info">Filtrer <i class="fa fa-check" style="width: 30px;"></i></button>
                          </div>
                        </div>
                    </form>

                    <table class="table table-bordered" style="margin-top: 20px;">
                        <thead class="table-dark">
                          <tr>
                            
                            <th style="color: white;">Date</th>
                            <th style="color: white;">Argents (Ariary)</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let liste of listeRecherche">
                            
                            <td><i class="fa fa-calendar"></i> {{liste._id}}</td>
                            <td>{{liste.montantapayer}}</td>
                           
                          </tr>
                          
                        </tbody>
                    </table>

                </div>
                
              </div>
            </ng-template>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  