
  <main class="main-content  mt-0" >
    <section style="margin-left: 0px; margin-top: 80px;">
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Authentification des utilisateurs</h2>
              <ul style="padding: 10px; color: rgb(73, 72, 72); list-style-type: none;">
                <li style="padding-bottom: 10px; padding-top: 10px;">
                  <strong><u>Client:</u></strong> <ul><li>ratsimhenintsoa@gmail.com</li><li>123</li></ul>
                </li>
                <li style="padding-bottom: 10px; padding-top: 10px;">
                  <strong><u>Résponsable atelier:</u></strong> <ul><li>ateliergmail.com</li><li>123</li></ul>
                </li>
                <li style="padding-bottom: 10px; padding-top: 10px;">
                  <strong><u>Résponsable financier:</u></strong> <ul><li>financier@gmail.com</li><li>123</li></ul>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="card card-plain mt-8">
                <div class="card-header  text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Bienvenue</h3>
                  
                </div>
                <div class="card-body">
                  <form role="form" (ngSubmit)="OnSubmit()" >
                    <label>Mail</label>
                    <div class="mb-3">
                      <input type="email" class="form-control" [(ngModel)]="form.mail" name="mail" required >
                    </div>
                    <label>Mot de passe</label>
                    <div class="mb-3">
                      <input type="password" class="form-control" [(ngModel)]="form.mdp" name="mdp" required >
                    </div>
                    
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0 text-info text-gradient">Se connecter</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center " style="padding-top: 20px;">
                  <p class="mb-4 text-sm mx-auto">
                    Vous n'avez pas de compte ?
                    <a href="inscription" class="text-info text-gradient font-weight-bold">S'inscrire</a>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
  
  