<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="reception_voiture"
                aria-expanded="false">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="hide-menu">Accueil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="liste_reception"
                aria-expanded="false">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span class="hide-menu">Voitures réceptionnées</span>
            </a>
        </li>  
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="liste_en_reparation"
                aria-expanded="false">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <span class="hide-menu">Voitures en réparations</span>
            </a>
        </li>        
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="voiture_terminer"
                aria-expanded="false">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span class="hide-menu">Voitures terminées</span>
            </a>
        </li>       

        
    </ul>

</nav>